.contactDiv{
    margin: 0px auto;
    height: 600px;
    max-width: 1260px;
    box-shadow: 0px 6px 17px 1px gray;
    
}

h2,h3{
    text-align: center;
    padding: 10px;
}

p{
    margin: 0px auto;
    padding: 20px;
    text-align: justify;
}

.contactDiv img{
    margin-left: 300px;
}